.HeaderImageLayout {
  background: url('https://res.cloudinary.com/dulich/image/upload/v1619107721/travel/parallax-search-2_bz6h39.jpg')
    no-repeat center center;
  height: 31rem;
  margin: 0 auto;
  &__content {
    max-width: 1192px;
    margin: 0 auto;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__title {
    display: flex;
    // height: 100%;
    // align-items: flex-end;
  }
  &__filters-wrap {
    display: flex;
  }
  &__filters {
    color: #fff;
    letter-spacing: 2px;
    &:hover {
      color: aquamarine;
    }
  }
  &__filters:first-child {
    margin-right: 2rem;
  }
}
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  letter-spacing: 1px;
}
