.carousel {
  background-color: blanchedalmond;
  &__slider {
    background-color: grey;
    height: 100vh;
    display: flex;
    z-index: 99;
  }
  &__content {
    position: relative;
    color: red;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
  }
  &__content_main {
    color: #fff;
    max-width: 35rem;
    text-align: center;
    z-index: 999;
  }
  &__title {
    color: #fff;
    text-transform: capitalize;
    font-size: 4.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
  }
  &__description {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
  }
  //img
  &__img_wrap {
    display: block;
    overflow: hidden;
    inset: 0px;
    box-sizing: border-box;
    margin: 0px;
    img {
      visibility: inherit;
      position: absolute;
      box-sizing: border-box;
      padding: 0px;
      border: none;
      margin: auto;
      display: block;
      width: 0px;
      height: 0px;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
@media only screen and (min-width: 768px) {
  .carousel {
    &__content_main {
      position: absolute;
      left: 15rem;
    }
  }
}
